# Manage the nexus android device
alias nexus-connect="go-mtpfs /media/nexus"
alias nexus-disconnect="sudo umount /media/nexus"

# cd
alias ..='cd ..'
alias uyb="cd ~/Projects/uyb"

alias please=sudo

# ls
alias l='ls -lAh --color=auto'
alias lt='l -t'
alias ls='ls -F --color=auto'

# Format kernel log timestamps nicely
alias dmesg='dmesg -H'
#alias dmesg='dmesg -T'

# git
alias g='git'

# alias gpull='git pull'
# alias gpush='git push'
# alias gdiff='git diff'
# alias gadd='git add'
# alias gaddp='git addp'
# alias gcommit='git commit'
# alias glog='git log'
# alias gbranch='git branch'

alias gdi='git di'
alias gbr='git br'
alias gco='git co'
alias gst='git st -sb'
alias glo='git lo'
alias gnb='git nb'
alias gpu='git pu'
alias gpl='git pl'
alias gre='git re'
alias gmt='git mt'

alias grm="git status | grep deleted | awk '{print \$3}' | xargs git rm"
# alias changelog='git log `git log -1 --format=%H -- CHANGELOG*`..; cat CHANGELOG*'

# sinatra/rake
alias rss="rake server:start"

# commands starting with % for pasting from web
# alias %=' '

# alias pp='python -m json.tool'
alias pp='pjson'

alias ap='ansible-playbook'

alias e='emacsclient -t'

#alias rtorrent='tmux new -d -s rtorrent -n rtorrent rtorrent; echo "rtorrent started in a tmux session. Attach to it by running: tmux attach -t rtorrent"'
alias gmount='gvfs-mount -d'
alias gumount='gvfs-mount -u'

# Make jist always open up the gist in a browser
alias jist="jist -o"

# Ruby helper aliases
alias bexec="bundle exec"
alias bcap="bexec cap"
alias brake="bexec rake"
alias bgem='bexec gem'
alias binstall="bundle install"

alias clr='clear'
alias s_http='python -m SimpleHTTPServer' # serve current folder via HTTP
alias s_smtp='python -m smtpd -n -c DebuggingServer localhost:1025' # SMTP test server, outputs to console
alias wget='wget --no-check-certificate'

alias irb='irb --simple-prompt'

###
# Remote Machines
###
alias mx20="ssh cryptodrunks.net"
