{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = .chezmoi.osRelease.id -}}
{{- end -}}

{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "darwin" }}
{{-   if contains "MacBook" (output "sysctl" "-n" "hw.model") }}
{{-     $chassisType = "laptop" }}
{{-   else }}
{{-     $chassisType = "desktop" }}
{{-   end }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "freebsd" }}
{{-   $chassisType = "server" }}
{{- end }}

[data]
    github_username = "critocrito"
    email = "christo.buschek@proton.me"
    osid = {{ $osid | quote }}
    chassisType = {{ $chassisType | quote }}

encryption = "age"
[age]
    command = "rage"
    identity = "~/.rage-key.txt"
    recipient = "age18a7c8luf4lp369exx28a9w38znmjarl4rfzz62hxad8mpz2wvqyqcfkx9w"
