{{ if eq .chezmoi.os "darwin" -}}
#!/bin/sh

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.common -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin -}}
brew {{ . | quote }}
{{ end -}}
EOF
{{ end -}}


{{ if eq .chezmoi.os "freebsd" -}}
#!/bin/sh

sudo pkg install \
{{ range .packages.common -}}
{{ . | quote }} \
{{ end -}}
{{ range .packages.freebsd -}}
{{ . | quote }} \
{{ end -}}

{{ end -}}


{{ if eq .osid "archlinux" -}}
#!/bin/sh

sudo pacman -S \
{{ range .packages.common -}}
{{ . | quote }} \
{{ end -}}
{{ range .packages.archlinux -}}
{{ . | quote }} \
{{ end -}}

{{ end -}}
