[Unit]
Description=index the address book
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=false
OnCalendar=*-*-* *:15:00

[Install]
WantedBy=default.target
