[Unit]
Description=Fetch mail from IMAP

[Service]
Type=oneshot
ExecStart=/bin/bash %h/Applications/offlineimap.sh

[Install]
WantedBy=default.target
