# 95% of download speed
download_rate = 3000

# 80% of upload speed
upload_rate = 50

# upload_speed * 1.3
max_peers = 65
min_peers = 20

min_peers_seed = 10
max_peers_seed = 30

# 1 + (upload speed / 6)
max_uploads = 9

check_hash = yes

directory = /home/crito/.rtorrent/incoming
session = /home/crito/.rtorrent/session

# We set two variables for the watch scheduler, custom1 defines the target path and custom2 is a flag, its set or not.
# schedule = watch_directory,5,5,"load_start=/home/crito/incoming/*.torrent,d.set_custom1=/home/crito/incoming/Torrents,d.set_custom2=1"
schedule = watch_directory,5,5,"load_start=/home/crito/incoming/*.torrent,d.set_custom1=/home/crito/incoming/Torrents"
schedule = untied_directory,5,5,stop_untied=
schedule = tied_directory,5,5,start_tied=

# Stop downloading when diskspace is low
schedule = low_diskspace,5,60,close_low_diskspace=100M

# Move completed downloads
system.method.set_key = event.download.finished,move_complete,"d.set_directory=$d.get_custom1=;execute=mv,-u,$d.get_base_path=,$d.get_custom1="

# Specify a single port
port_range = 49166-49166

# enable encryption
encryption = allow_incoming,try_outgoing,enable_retry

# enable dht
dht = auto
dht_port = 6881
peer_exchange = yes
