[Unit]
Description=Emacs: the extensible, self-documenting text editor

[Service]
Type=forking
ExecStartPre=source ~/.nvm/nvm.sh
ExecStart=/usr/bin/emacs --daemon
ExecStop=/usr/bin/emacsclient --eval "(kill-emacs)"
Environment=SSH_AUTH_SOCK=%t/keyring/ssh
Restart=always

[Install]
WantedBy=default.target
