[Unit]
Description=Load X Resources DataBase on X display %I
Documentation=man:xrdb(1)
Before=xorg@%i.target
Requisite=xorg@%i.target

[Service]
Environment=DISPLAY=%I

Type=oneshot
ExecStart=/usr/bin/env flock %t/xorg-xrdb@%I -c 'xrdb -merge ${XDG_CONFIG_HOME}/xorg/resources'

[Install]
WantedBy=xorg@%i.target
